<!DOCTYPE html>
{% load static %}
<html>
<head>
<!-- Untuk background foto yang blur sumber nya https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blurred_bg -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
	About Me - Johanes Marihot Perkasa Simarmata
</title>
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3{
			color: white;
			text-align: left;
			font-size: 20px;
			font-family: cursive;
		}

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-image: url("/static/programmer.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  header{
    width: 100%
    height: 70px;
    background-color: black;
  }
  ul{
    width: auto;
    float: center;
    margin-top: 7px;
  }
  li{
    display: inline-block;
    padding: 15px 30px;
  }
  a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: monospace;
  }
  a:hover{
    color: yellow;
  }
</style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'homepage:homeStory1'%}">Home</a></li>
        <li><a href="{% url 'homepage:aboutme' %}">About Me</a></li>
        <li><a href="{% url 'homepage:mycontact' %}">My Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="bg-image"></div>
  <div class="bg-text">
  	<h3 style="color: #b3ffff"><i><u>Biodata Singkat</u></i></h3>
    <table width="75%">
		<tr>
			<th><b>Nama Lengkap</b></th>
			<th>Johanes Marihot Perkasa Simarmata</th>
		</tr>
		<tr>
			<th><b>NPM</b></th>
			<th>1906308476</th>
		</tr>
		<tr>
			<th><b>Angkatan</b></th>
			<th><a href="https://maung.id/johanes.marihot"><b><i>MAUNG</i></b></a>(2019)</th>
		</tr>
		<tr>
			<th><b>Tempat Kuliah</b></th>
			<th>Fakultas Ilmu Komputer Universitas Indonesia</th>
		</tr>
		<tr>
			<th><b>Hobi</b></th>
			<th>Bermain video games</th>
		</tr>
	</table>
	<h3 style="color: #b3ffff"><i><u>Deskripsi Tentang Saya</u></i></h3>
	<h4>
		Saya lahir pada hari kamis tanggal 15 November 2001 di Bekasi tepatnya di Rumah Sakit Mitra Keluarga Bekasi Barat. Saya merupakan anak tunggal. Sebelum duduk di tempat kuliah sekarang, saya memiliki impian untuk berkuliah di Fakultas Teknik Mesin dan Dirgantara tepatnya di Institut Teknologi Bandung (ITB). Saya baru mengenal programming setelah saya dinyatakan lulus di tempat saya berkuliah sekarang.
	</h4>
	<h3 style="color: #b3ffff"><i><u>Riwayat Pendidikan</u></i></h3>
	<table width="75%">
		<tr>
			<th>2019-sekarang</th>
			<th>Universitas Indonesia</th>
		</tr>
		<tr>
			<th>2016-2019</th>
			<th>SMA Negeri 81 Jakarta</th>
		</tr>
		<tr>
			<th>2013-2016</th>
			<th>SMP Kristen 5 Penabur</th>
		</tr>
		<tr>
			<th>2007-2013</th>
			<th>SD Kristen Ceria Anak Bangsa</th>
		</tr>
	</table>
  </div>

</body>
</html>