<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'stylehome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head><div>
	
</div>
<body>
	<div class="background">
		{% include 'navbar.html' %}
		<div class="container_adebe">
			<h2>Adebe</h2>
		</div>
		<div class="container1">
			<h3>Welcome to My Profile Page</h3>
		</div>
		<div class="container1a">
			<a href="{%url 'homepage:socialmedia'%}"><div class="oval">
				<h3>Contact</h3>
			</div></a>	
		</div>
		<div class="container1b">
			<a href="{% url 'homepage:profile1' %}"><div class="ovalExplore">
				<h3>EXPLORE --></h3>
			</div></a>
		</div>
	</div>

</body>
</html>