<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Home - Johanes Marihot Perkasa Simarmata</title>
<!-- Untuk background foto yang blur sumber nya https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blurred_bg -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-image: url("/static/programmer.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  header{
    width: 100%
    height: 70px;
    background-color: black;
  }
  ul{
    width: auto;
    float: center;
    margin-top: 7px;
  }
  li{
    display: inline-block;
    padding: 15px 30px;
  }
  a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: monospace;
  }
  a:hover{
    color: yellow;
  }
  .fotobentukbulat {
  vertical-align: middle;
  width: 140px;
  height: 150px;
  border-radius: 50%;
}
</style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>{% include 'navbar.html' %}</li>
        <li><a href="{% url 'homepage:homeStory1'%}">Home</a></li>
        <li><a href="{% url 'homepage:aboutme' %}">About Me</a></li>
        <li><a href="{% url 'homepage:mycontact' %}">My Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="bg-image"></div>
  <div class="bg-text">
    <h2>Welcome to my website!</h2>
    <img src="{% static 'fotoadebe1.jpg' %}" width="150px" class="fotobentukbulat">
    <h1 style="font-size:50px">I am Johanes Marihot Perkasa Simarmata</h1>
    <p>And I'm a Student Programmer</p>

</body>
</html>