<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>All of My Favorites</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: #EBEBEB;">
	<div class="background">
		<div class="container_adebe">
			<h2>Adebe</h2>
		</div>
		<div class="container1">
			<div class="fotopapa"></div>
			<div class="fotomama"></div>
		</div>
		<div class="container2">
			<div class="container2-a">
				<h2>Darwin Simarmata</h2>
				<h3>Gn.Para, 27 Februari 1992</h3>
				<h3>Wiraswasta</h3>
				<h3>Jakarta, Indonesia</h3>
			</div>
			<div class="container2-b">
				<h2>Endang Sihsetyaningrum</h2>
				<h3>Madiun, 18 Desember 1971</h3>
				<h3>Pegawai Negeri Sipil</h3>
				<h3>Jakarta, Indonesia</h3>
			</div>
			<div class="container2-c">
					<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				  Pemandangan yang kusuka
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Indahnya Pemandangan</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        
				      	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				  			<ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  			</ol>
				  			<div class="carousel-inner">
				    			<div class="carousel-item active">
				      				<img class="d-block w-100" src="https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&w=1000&q=80" alt="Pemandangan Kota">
				      				<div class="carousel-caption d-none d-md-block">
				    					<h5>Pemandangan Kota di Sore Hari</h5>
				    					<p>Mobil-mobil berhenti di lampu merah dengan campuran langit yang sangat indah serta pemandangan gedung yang menarik.</p>
				  					</div>
				   				 </div>
				    			<div class="carousel-item">
				      				<img class="d-block w-100" src="https://images.pexels.com/photos/1236701/pexels-photo-1236701.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Indahnya kota">
				      				<div class="carousel-caption d-none d-md-block">
				    					<h5>Berjalan Kaki pada Sore Hari.</h5>
				    					<p>Seseorang berjalan di tengah jalan ditemani oleh matahari yang ingin terbenam dan pemandangan kota yang mulai menggelap</p>
				  					</div>
				    			</div>
				   				 <div class="carousel-item">
				      				<img class="d-block w-100" src="https://iphonewalls.net/wp-content/uploads/2014/09/Water%20Sunset%20Stars%20Lonely%20Man%20Walking%20iPhone%205%20Wallpaper-320x480.jpg" alt="Pemandangan pantai">
				      				<div class="carousel-caption d-none d-md-block">
				    					<h5>Berjalan di atas air.</h5>
				    					<p>Seseorang berjalan diatas air yang dangkal ditemani dengan pemandangan langit yang indah serta matahari yang ingin terbit</p>
				  					</div>
				    			</div>
				  			</div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>



				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
				        <button type="button" class="btn btn-primary">Simpan Cak</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="containertombol" style="top: 30%; right: 150%;">
				<a href="{% url 'homepage:profile2' %}"><img src="{% static 'chevron.png' %}" style="transform: rotate(180deg);"></a>
				<a href="{% url 'homepage:socialmedia' %}"><img src="{% static 'chevron.png' %}"></a>
			</div>
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>