.background{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: row;
	background-image: url('/static/fotoadebe.jpg');
	background-size: 100% 100%;
}.container1{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 70%;
	right: 0%;
	align-items: flex-start;
}.container1 h3{
	color: black;
    position: relative;
    font-size: 48px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    left: 500px;
    top: 120px;
}.container1a{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 70%;
	height: 50px;
	right: -25%;
}.oval {
	height: 70px;
	width: 120px;
	opacity: 0.8;
	background-color: #C4C4C4;
	border-radius: 50px 50px 50px 50px;
	text-align: center;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
	position: absolute;
	top: 10px;
	right: 50px; 
	color: black; 
}.container1b{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 70%;
	height: 100px;
	top:50%;
	right: 25%;
}.ovalExplore{
      height: 80px;
      width: 250px;
      line-height: 10px;
      background-color: transparent;
      border-radius: 50px 50px 50px 50px;
      border: 1px solid black;
      text-align: center;
      font-size: 30px;
      font-family: monospace;
      position: relative;
      top: 0%;
      left: 35%;
      color: black;
}

