<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>

    <title>Jadwal</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><h3>JadwalKu</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link ml-3" href="{% url 'homepage:home' %}">Story 4</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
<section class="inputJadwal" id="inputJadwal">
    <div class="container pt-5 pb-3 justify-content">
        <div class="row pt-5">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3 pb-3 text-center" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><h2><b>Isi Jadwal</b></h2></h5>
                      <p class="card-text"><i>Pengisian jadwal hanya dilakukan oleh mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.</i></p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><h1>Lokasi</h1></li>
                    <li class="list-group-item">Fakultas Ilmu Komputer.</li>
                    <li class="list-group-item">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</li>
                    <li class="list-group-item">(021) 7863419</li>
                </ul>
            </div>
            <div class="col-md-6">
                <form action="" method="POST" class="ml-5">
                    {% csrf_token %}
                    {{ formulir }}
                    <div class = "centre-items" style = "margin-top: 2%">
                        <input type = "submit" class="btn btn-primary" value="Submit"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cekjadwal" id="cekjadwal">
    <div class="table-responsive" id="Table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nama Mata Kuliah</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Deskripsi Mata Kuliah</th>
                    <th scope="col">Tahun Semester</th>
                    <th scope="col">Ruang Kelas</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for i in jadwal_ku %}
            <tbody>
                <tr>
                    <td>{{i.nama_mata_kuliah}}</td>
                    <td>{{i.nama_dosen}}</td>
                    <td>{{i.jumlah_sks}}</td>
                    <td>{{i.deskripsi_mata_kuliah}}</td>
                    <td>{{i.tahun_semester}}</td>
                    <td>{{i.ruang_kelas}}</td>
                    <td>
                
                    <a  href = "{% url 'hapus' pk=i.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>
                </button></a>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

    
</section>

<footer class="bg-dark">
    <div class="container mt-3">
        <div class="row pt-1">
            <div class="col text-center text-white">
                <i>Copyright 2020.</i>
            </div>
        </div>
    </div>
</footer>
    
  </body>
</html>